section.resume-section {
  border-bottom: 1px solid $gray-300;
  padding-top: 6rem !important;
  padding-bottom: 5rem !important;
  .resume-item {
    .resume-content {}
    .resume-date {
      min-width: none;
    }
  }
  .subheading{
    margin-bottom: 5px !important;
  }
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-content {}
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

// --> About

// Desktop
@media (min-width: 992px) {
  #about {
    margin-top: 0 !important;
    max-width: 60rem;
    .list-social-icons {
      position: absolute;
      bottom: 30px;
    }
    .myName {
      font-size: 6rem !important;
    }
    .subheading {
      font-size: 1.2rem !important;
    }
  }
}
// Mobile First

#about {
  // margin-top: 18rem;
  .myName {
    letter-spacing: -4px;
    font-size: 3rem;
  }
  .subheading {
    font-size: 1.2rem;
  }
  .about-text {
    padding-top: 30px;
  }
}

// --> Interests
#interests {
  .img-mate {
    height: 30px;
    vertical-align: bottom;
  }
}


// --> Skills
#skills{
  .skills-list {
    padding-bottom: 3rem;
    // -webkit-column-count:2;
    // -moz-column-count:2;
    // column-count:2;
  }
  .list-icons {
    max-width: 50rem;
  }
}